   
        body{
            background-color: rgb(138, 32, 82);
        }

 

    p {
        background-color: rgb(247, 238, 107);
        color: hwb(341 11% 57%);
        width: 200px;
        width: 50%;
    }

    .premier{
        background-color: cadetblue;
        width: 33%;
    }